<%- include('header.ejs') %>
<div class ="container py-md-5">
  <%- include('flash.ejs') %>
    <div class="col-lg-12 py-3 py-md-5">
      <p><%= jobs[0].title %></p>
    <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Job Title</th>
            <th scope="col">Company Name</th>
            <th scope="col">Applied On</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
      </div>
</div>

<%- include('footer.ejs') %>