<% errors.forEach(function(m){ %>
    <div class="alert alert-danger text-center">
      <%= m %>
    </div>
  <% }) %>
  <% success.forEach(function(m){ %>
    <div class="alert alert-success text-center">
      <%= m %>
    </div>
  <% }) %>