<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<header>
<nav role="navigation" class="navbar fixed-top  navbar-dark bg-dark navbar-expand-lg ml-auto">
    <a class="navbar-brand" href="/">Naukri-Clone</a>
<div class="collapse justify-content-between navbar-collapse d-flex" >
  <ul class="nav navbar-nav  navbar-right">
    <li class="nav-item active">
      <a class="nav-link" href="/jobs">Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/appliedJobs">Jobs Applied</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      username</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

        <a class="dropdown-item" href="/logout">LogOut</a>
        </div>
    </li>
    </ul>
</div>
</nav>
</header>